@import '../style.module.scss';

.faculty {
  @extend %baseContainer;

  .header {
    @extend %baseHeader;
    font-size: 2vw;

    .text {
      display: flex;
      align-items: center;
    }
  }

  .cardsContainer {
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}
