.leftSideBar {
  width: 4vw;
  height: 92vh;
  box-sizing: border-box;
  padding: 0.6vw 1vw;
  display: flex;
  flex-direction: column;
  background: black;

  .icon {
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  .icon:active {
    transform: scale(0.8);
  }
}

.helper {
  color: white;

  .header {
    font-size: 1.5vw;
  }

  .message {
    font-size: 1vw;
  }
}
