.app {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.full {
  height: 100vh;
}

.load {
  margin: 0 auto;
  font-size: 6vw;
  color: white;
}

%baseContainer {
  width: 90%;
  height: 90vh;
  background-color: #333;
  margin: 0 auto;
  border-radius: 15px;
  overflow: auto;
}

%baseHeader {
  padding: 1% 1%;
  margin: 0;
  color: white;
  background-color: #242424;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
