@import '../style.module.scss';

.loading {
  @extend %baseContainer;
  padding: 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  .header {
    font-size: 3vw;
    width: 10%;
    height: 1vw;
    margin: auto auto;
  }
}
